{% load static %}

<section class="menu-lateral">
    <nav class="menu-lateral__navegacao">
        <a href="{% url 'index' %}">
            <img src="{% static '/assets/ícones/1x/Home - ativo.png' %}" alt="ícone home">
            Home
        </a>
        <a href="#">
            <img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}" alt="ícone mais vistas">
            Mais vistas
        </a>
        <a href="#">
            <img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}" alt="ícone novas">
            Novas
        </a>
        <a href="#">
            <img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}" alt="ícone surpreenda-me">
            Surpreenda-me
        </a>
    </nav>
</section>